header {
   background-color: #101010;

   .header-top {
      width: 70%;
      margin: 0 auto;
      text-align: right;
      height: $headerTopHeight;
      ul {
         list-style-type: none;
         line-height: $headerTopHeight;
         li {
            display: inline-block;
            margin: 0 10px;
            a {
               text-decoration: none;
               color: white;
               font-size: 12px;
               color: #666666;


               &:hover {
                  color: white;
                  text-decoration: underline;
               }

               i {
                  color: $iconColor;
                  margin-right: 5px;
                  font-size: 14px;
                  line-height: $headerTopHeight;
                  vertical-align: middle;
               }
            }
         }
      }
   }

   .header-bottom {
      width: 70%;
      margin: 0 auto;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      img {
         display: inline-block;
         line-height: 50px;
         height: 50%;
         vertical-align: sub;
      }
      ul {
         display: inline-block;
         list-style-type: none;
         li {
            display: inline-block;
            padding: 0 25px;
            &:hover {
               cursor: pointer;
               background-color: #E6E6E6;
               a, i {
                  color: black;
               }
            }

            a {
               color: white;
               text-decoration: none;
            }
            i {
               color: white;
               font-size: 10px;
            }
         }

      }
   }
}
